<!-- <div class="cover">
     <div class="reset-password-container" fxLayoutAlign="center center">
       Reset Password works
    </div>
  </div> -->
<div class="cover">
  <div fxFlex="100%" fxLayout="column" class="reset-password-container">
    <div>
      <img src="./assets/icons/finobile-vertical.png" alt="mifos-logo" />
    </div>
    <div class="mat-dialog-title reset-text">
      Reset your Password
    </div>
    <div>
      <form fxLayout="column">
        <mat-form-field fxFlexAlign="center" class="email-input">
          <input matInput type="text" autocomplete="off" placeholder="Email" formControlName="email">
        </mat-form-field>

        <button mat-raised-button fxFlexAlign="center" class="reset-button enabled">
          Reset Password
        </button>

      </form>
    </div>
  </div>
</div>